@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Red+Hat+Text:wght@300&family=Roboto+Slab:wght@300&display=swap');

html{
    --theme-color: white; 
    --primary-color: #B03A2E; 
    --secunday-color: #2E4053;
    --text-color: #17202A;
    --text-color-inverse: #A93226;
    --menu-mobile-back-ground-color:  #EAEDED; 
    --navbar-shallow-color: #e5e5e5;
}
